answers/
dataset/
iter_300000.pth/
DevanagariHandwrittenCharacterDataset/
deep-text-recognition-benchmark-master/bn_15e5_results/
deep-text-recognition-benchmark-master/saved_models/
iter_300000.pth/
bn_15e5_results.zip
dev_10e5_results.zip
how-to-create-an-env
augmentation_lab/output_straug
augmentation_lab/output_augmentor
augmentation_lab/straug_fin
augmentation_lab/input
urd_n_dev
ICFHR_dataset.zip
pretrained_models/
